<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% teacher.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= form.label :name %></strong>
    <%= form.text_field :name , class: 'form-control'%>
  </div>

  <div class="field">
    <strong><%= form.label :age %></strong>
    <%= form.number_field :age , class: 'form-control'%>
  </div>

  <div class="field">
    <strong><%= form.label :email %></strong>
    <%= form.text_field :email , class: 'form-control'%>
  </div>

  <br>
  <div class="field">
    <strong><%= form.label :subject %></strong>
    <%= collection_select(:teacher , :subject_code, Subject.all, :subject_code,:subject_name, {}, {:multiple => false}) %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary btn-sm', style: 'width: 100%'%>
  </div>
<% end %>
